<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>

<body>
    <h1 id="welcomeSpread">Welcome to the Dashboard, Admin!</h1>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

    <script src="/admin/scripts/admin_dashboard.js"></script>
</body>
</html>