<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Organizer Dashboard</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <h1 id="welcomeSpread">Welcome to the Dashboard, Event Organizer!</h1>
    <button id="createEventBtn">Create Event</button>
    <button id="showAllEventsBtn">Show All Events</button>
    <div id="eventFormContainer" class="hidden">
      <form id="eventCreationForm" action="createEvent" method="POST">
      </form>
    </div>
    <div id="eventsContainer" class="hidden">
    </div>

    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    <script src="/admin/scripts/eo_dashboard.js"></script>
</body>
</html>