<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>Admin | Attendance</title>
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
		<link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
		<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
		<link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
		<link rel="stylesheet" href="assets/css/QR-Scanner.css">
		<link rel="stylesheet" href="/assets/css/modified.css">
	</head>
	<!-- QR CODE SCANNER -->
	
<script>
	// pass session org id to javascript
    const orgId = '<%= orgId %>';
  </script>
    <script type="module" src="assets/js/database_handler.js"></script>
	<script type="module" src="assets/js/attendance_script.js"></script>
	<body id="page-top">
		<div id="wrapper">
			<%- include('partials/sidebar.ejs') %>
			<div class="d-flex flex-column" id="content-wrapper">
				<div id="content">

					<!-- NOTIFICATION -->
					<div style="position: fixed; top: 20px; right: 20px; z-index: 999;" id="alertContainer">
					</div>
					<!-- end NOTIFICATION -->

					<!-- MODAL FOR ASKINg WHAT EVENT -->
					<div class="modal fade" id="selectEventModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="selectEvent" aria-hidden="true">
						<div class="modal-dialog">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="modal-title" id="exampleModalLabel">Select Event</h5>
							  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
							  <div id="modalContentEvent">
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  <!-- END MODAL -->

					  <!-- MODAL FOR ASKINg WHAT SEGMENT -->
					<div class="modal fade" id="selectSegmentModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="selectSegment" aria-hidden="true">
						<div class="modal-dialog">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="modal-title" id="exampleModalLabel">Select Segment</h5>
							  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
							  <div id="modalContentii">
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  <!-- END MODAL -->

					<%- include('partials/header.ejs') %>
					<div class="container-fluid">
						<h3 class="text-dark mb-1"></h3>
					</div>
					<div class="col-xxl-8 offset-xxl-2">
						<!-- <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script> -->
						<script src="assets/js/qr_packed.js"></script>
						<div id="container">
							<h1>Scan QR</h1>
							<a id="btn-scan-qr">
							<img src="https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/07/1499401426qr_icon.svg">
							</a>
							<canvas hidden="" id="qr-canvas"></canvas>
							<div id="qr-result" hidden="">
								<b>ERROR:</b> <span id="outputData"></span>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="col-xl-12">
							<section class="contact-clean">
								<form id="attendanceForm">
									<h4 class="text-center">or input attendance manually by inputting email</h4>
									<div class="mb-3">
										<input type="email" class="form-control" id="emailInput" placeholder="Enter email" required>
									</div>
								
									<div class="mb-3">
										<button class="btn btn-primary" type="submit">Submit</button>
									</div>
									
								</form>
							</section>
						</div>
						<div class="mb-3">
							<button class="btn btn-danger" id="changeEventBtn">Change Event</button>
						</div>
						
					</div>
				</div>
				<%- include('partials/footer.ejs') %>
			</div>
			<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
		</div>

        <!-- MODAL FOR ATTENDANCE, CHOOSE WHICH SEGMENT -->
        <div class="modal fade" id="myModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="exampleModalLabel">Select Segment</h5>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				  <div id="modalContent">
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		<!-- END MODAL -->


		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/js/theme.js"></script>
	</body>
</html>